.border {
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-addScheduleBtn {
    color: #344054 !important;
    border: 1px solid #D0D5DD !important;
    background-color: white !important;
}

.calendar-container-header {
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    background-color: white;
}

.calendar-container {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-top: 1rem;
}

.calendar-times {
    width: 100px;
}

.calendar-times .calendar-cell-wrapper .calendar-cell-header {
    width: 100%;
}

.calendar-times .calendar-cell-wrapper.border {
    border-bottom: none;
}

.calendar-wrapper {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 400px);
    height: calc(100vh - 250px);
}

.calendar-column {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.calendar-header {
    height: 40px;
    padding: 10px;
    color: var(--color-secondary);
}

.calendar-cell-wrapper {
    height: calc(calc(100vh - 135px) / 10);
    display: flex;
    flex-direction: row;
}

.calendar-cell-header {
    padding: 10px;
    color: var(--color-secondary);
    text-align: right;
    font-size: 0.7rem;
}

.calendar-cell-item {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.mobile {
    display: none;
}

.calendar-cell-container {
    font-size: 0.75rem;
    background-color: var(--color-primary-50);
    padding: 10px 12px;
    border-radius: 8px;
    border-left: 2px solid var(--color-purple);
    cursor: pointer;
}

.calendar-cell-container-header span:first-of-type {
    color: var(--color-purple);
}

.calendar-cell-container-header span:last-of-type {
    color: var(--color-primary);
}

.calendar-cell-container-body {
    color: var(--color-primary);
}

@media screen and (max-width: 1200px) {
    .calendar-header {
        font-size: 0.9rem;
    }

    .calendar-wrapper {
        width: calc(100vw - 300px);
    }


        
        .calendar-times {
            width: 50px;
    }
}

@media screen and (max-width: 768px) {
    .calendar-header {
        font-size: 0.9rem;
    }

    .calendar-times {
        display: none;
    }

    .calendar-wrapper {
        width: calc(100vw - 250px);
        height: calc(100vh - 60px);
        flex-direction: column;
        overflow: auto;
    }

    .calendar-cell-wrapper {
        height: max-content;
    }

    .mobile {
        display: flex;
        border-right: 1px solid var(--border-color);
        min-width: 50px;
    }

    .calendar-column {
        overflow: visible;
    }
}