.grade-table-contain {
    width: 100%;
    height: fit-content;
    background: white;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.05), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    display: grid;
}

.grade-table-header-contain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.grade-table-header-btn {
    display: flex;
    gap: 10px;
}
.grade-table-header-btn .btnFix {
    border: 1px solid #D0D5DD ;
    font-weight: 400;
}
.grade-table-header-btn .btnCancel {
    color: black !important;
    background-color: white !important;
    border: 1px solid #D0D5DD ;
    font-weight: 400;
}
.grade-table-header-btn .btnSave {
    border: 1px solid #D0D5DD ;
    font-weight: 400;
}

/* Table Column */
.grade-table-column {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f9fafb;
}
.grade-table-column-one {
    width: 30%;
    height: fit-content;
}
.grade-table-column-twoo {
    width: 60%;
    display: flex;
    height: fit-content;
}

.grade-table-collumn-two-child {
    width: 100%;
    display: flex;
    height: fit-content;
}
/* Table Data */
.grade-table-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.grade-table-data-childd {
    width: 100% !important;
    height: 70px !important;
    display: grid;
    grid-template-columns: 30% 30% 30% !important;
    grid-template-rows: auto;
    justify-content: space-between;
    padding: 1rem;
    transition: 0.2s ease-in;
}
.grade-table-data-childd:hover {
  background-color: #f5faff !important;
}

.grade-table-data-child-one {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.grade-table-data-child-two {
    width: 100%;
    height: 100%;
}