
.card-atom {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid #EAECF0;
    background-color: #fff;
    padding:18px 24px;
    gap: 10px;
    border-radius: 8px;
}

