.landing-container {
    width: 100%;
    height: 100%;
    background-color: #eaeff0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing {
    width: 80%;
    height: 100%;
    background-color: #eaeff0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    margin: 0 !important;
}

/* menu -----------------------------------------------------*/
.menu-contain {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    z-index: 500;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.108);
}
.menu {
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}
.menu-logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-logo img {
    width: 35px;
}
.menu-logo p {
    color: black;
    font-size: 16px;
}
.menu-main {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.menu-main a p {
    font-size: 16px;
    /* color: #667085; */
    cursor: pointer;
}
.menu-login {
    display: flex;
    gap: 20px;
}
.menu-login a div {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #667085;
}
.menu-login a:nth-child(2) div {
    background-color: #1570ef;
    color: white;
}

/* content-1 -------------------------------------------------------*/
.content-1 {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.content-1-presentation-mobile {
    display: none;
}
.content-1-presentation-desktop {
    display: block;
}
@media (max-width: 1440px) {
    .content-1 {
        flex-direction: column;
        gap: 3rem;
    }
    .content-1-presentation-mobile {
        display: block;
        margin-top: 15rem;
    }
    .content-1-presentation-desktop {
        display: none;
    }
}
.content-1-text {
    width: fit-content;
    height: fit-content;
}
.content-1-text-item {
    width: fit-content;
    height: fit-content;
    position: relative;
}
.content-1-presentation {
}
.content-1-text-item img:nth-child(1) {
}
.content-1-text-item img:nth-child(2) {
    height: 50px;
    position: absolute;
    left: 0;
    top: 5px;
}
.content-1-text-item2 {
    margin-top: 2rem;
    color: #667085;
    font-size: 14px;
}
.content-1-text button {
    width: 150px;
    height: 50px;
    display: flex;
    gap: 10px;
    background-color: #1570ef;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-top: 1rem;
    cursor: pointer;
}
.content-1-text button img {
    height: 12px;
}

/* content-2 -------------------------------------------------------*/
.content-2 {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-2-text {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.content-2-text-item {
    width: fit-content;
    height: fit-content;
    position: relative;
}
.content-2-text-item img:nth-child(2) {
    height: 50px;
    position: absolute;
    left: 0;
    top: 5px;
}
.content-2-text-item2 {
    font-size: 30px;
}
.content-2-text-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.content-2-text-item3 div {
    display: flex;
    gap: 20px;
}
.content-2-text-item3-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* content-3 --------------------------------------------------*/
.content-3 {
    width: 85%;
    height: 90vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-3-item {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}
.content-3-item-item {
    height: fit-content;
    display: flex;
    gap: 20px;
}
.content-3-item-item div {
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #f2f4f7;
    color: #175cd3;
    border-radius: 30px;
    cursor: pointer;
}
.content-3-item-item div:nth-child(1) {
    background-color: #1570ef;
    color: white;
}

.content-3-item2 {
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}
.content-3-item2-card {
    width: 100%;
    height: 500px;
    background-color: #f2f4f7;
    border-radius: 45px;
    padding: 70px 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content-3-item2-card img {
    width: 45px;
}
.content-3-item2-card p {
    font-size: 28px;
    font-weight: 500;
}
.content-3-item2-card .vector {
    width: 110px;
    height: 140px;
    position: absolute;
    top: 0;
    right: 3rem;
}

/* content-4 --------------------------------------------------*/
.content-4 {
    width: 85%;
    height: 90vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-4-card {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-4-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.content-4-card-card {
    width: 80%;
    height: 170px;
    background-color: white;
    position: absolute;
    top: -100px;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    z-index: 10;
}
.content-4-card-card div {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(204, 204, 204, 0.64);
}
.content-4-card-card div:nth-child(4) {
    background-color: #1570ef;
}
.content-4-card-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

/* footer --------------------------------------------------*/
.footer {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.footer-item {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.footer-item-bgImg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.footer-item-bgImg-item {
    position: absolute;
    width: 37%;
    height: 100%;
    z-index: 5;
}
.footer-header {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    z-index: 10;
    margin-top: 2rem;
}
.footer-header img {
    width: 30px;
    height: 30px;
}
.footer-header p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 10;
    margin-top: 5rem;
    text-align: center;
}
.footer-content h3 {
    font-size: 40px;
    color: white;
    font-weight: 500;
}
.footer-content p {
    font-size: 14px;
    color: #c1c1c1;
    font-weight: 500;
}
.footer-btn {
    display: flex;
    gap: 1.5rem;
    margin-top: 5rem;
    z-index: 10;
}
.footer-btn button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footer-btn button:nth-child(1) {
    background-color: #1570ef;
    color: white;
}
