.tabbar{
    width: 100% ;
    height: fit-content;
    padding: 1rem 0;
}
.tabbar_ul{
    width: 100% ;
    list-style: none;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #EAECF0;
}
.tabbar_li{
    display: inline-block;
}

.tabbar_li .a{
    display: block;
    padding: 0 12px;
    text-decoration: none;
    color: #667085;
    border-bottom: 1px solid transparent;
    transition: .2s;
    font-size: 14px;
}

.tabbar_li .a:hover{
    color: #1570EF;
    border-bottom: 1px solid #1570EF;
}

.tabbar_li .a:focus{
    color: #1570EF;
    border-bottom: 1px solid #1570EF;
}
.tabbar_li .a:active{
    color: #1570EF;
    border-bottom: 1px solid #1570EF;
}