.register-contain {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe9e9;
    padding: 8px;
}

.register-main-item {
    width: 45%;
    height: 100%;
    background-color: #1570ef;
    border-radius: 13px;
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-item-header {
    width: 100px;
}
.register-item-header img {
    width: 100%;
}

.register-item-title {
    font-weight: 700;
    font-size: 65px;
    color: white;
    margin-top: 3rem;
    letter-spacing: 1px;
}
.register-item-subTitle {
    font-size: 24px;
    font-weight: 300;
    color: white;
}

.register-item-footer {
    width: 96%;
    height: 250px;
    background-color: #175cd3;
    border-radius: 12px;
    padding: 2rem;
}
.register-item-footer p {
    font-size: 17px;
    color: white;
    font-weight: 600;
}
.register-item-footer div {
    font-size: 13px;
    color: white;
    font-weight: 300;
    margin-top: 1rem;
    text-align: justify;
}

.register-sign-item {
    width: 55%;
    height: 100%;
    display: flex;
    padding: 1.2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

a .register-return-to-home {
    color: #373d42;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.register-sign-title {
    font-size: 35px;
    letter-spacing: 0.5px;
    color: black;
    font-weight: 600;
}
.register-sign-subTitle {
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.register-sign-header-role {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.register-sign-header-role button {
    width: 100px;
    height: 35px !important;
    border: 1px solid #1570ef;
    display: flex;
    align-items: center;
    color: #2e90fa;
    border-radius: 8px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}


.register-sign-input-one {
    width: 100%;
    color: 667085;
}

.register-sign-input-one-title {
    margin-top: 1rem;
}
.register-sign-input-one-input {
    width: 100% !important;
}
.ant-select {
    width: 100% !important;
    height: 44px !important;
}
.register-sign-password-one {
    width: 100%;
    color: 667085;
}
.register-sign-password-one-title {
    width: 100%;
    margin-top: 1.5rem;
}
.register-sign-password-one-input {
    width: 100%;
}

.register-sign-footer {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.register-sign-footer-button {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 3rem;
}
.register-sign-footer-button button {
    width: 150px;
    height: 48px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #1570ef;
    color: white;
}
.register-sign-footer-button a button {
    color: #2e90fa;
    background-color: white;
}

.register-usernamme {
    width: 100%;
    display: flex;
    gap: 1.5rem;
}