.notes  {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.notes-title {
    color: #101828;
    font-size: 16px;
    font-weight: 500;
    margin: 0 ;
}

.announCardContain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.announCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announDelete {
    cursor: pointer;
}
.ant-popover-inner{
    border-radius: 8px !important;
}

.card {
    display: flex;
}

.notes-profile {
    display: flex;
    gap: 10px;
}
.notes-profile-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.notes-profile-username {
    font-size: 14px;
    font-weight: 500;
    color: #344054;
}
.notes-profile-rolename {
    font-size: 12px;
    font-weight: 400;
    color: #667085;
}


.notes-description {
    font-size: 14px;
    color: #98a2b3;
    text-align: justify;
    padding: 4px 0;
    letter-spacing: 0.5px;
}   

.notes-date {
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    color: #344054;
    padding: 2px 8px;
    background-color: #f2f4f7;
    border-radius: 16px;
    margin-top: 5px;
}