@import 'antd/dist/antd.css';

:root {
    --color-light: #f8f9fa;
    --color-dark: #212529;
    --color-primary: #0d6efd;
    --color-primary-50: #eff8ff;
    --color-secondary: #6c757d;
    --color-success: #198754;
    --color-info: #0dcaf0;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-purple: #6938ef;
    --color-gray-25: #fcfcfd;
    --border-color: #cccccc45;
}
* {
    box-sizing: border-box;
    font-family: system-ui !important;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-gray-25);
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    outline: none;
    border: none;
}

button {
    border: none !important;
}
/* button:hover {
    box-shadow: 0 0px 3px 0 #0dcaf0b6 !important;
    background-color: var(--color-primary) !important;
    color: white !important;
} */
.ant-btn:hover {
    /* outline: none !important; */
    /* border: none !important; */
    box-shadow: 0 0 2px 2px #035de323;
}
/* .ant-btn:focus {
    outline: none !important;
    background-color: var(--color-primary) !important;
} */
textarea {
    outline: none;
    border: none;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: #101828;
    padding: 8px 0px;
}

.uploadBtn {
    color: #667085 !important;
}

.ant-modal {
    top: 0 !important;
}